html, body {
    margin: 10px;
    padding: 10px;
    text-align: center;
    align-items: center;
  }
  
  h1 {
    Color: rgb(173, 3, 74);
    text-align: center;
  }
  
  h2 {
    Color: rgb(173, 98, 131);
    font-weight: bold;
    /* text-decoration: underline; */
  }
  
  #startBtn {
    padding: 10px;
    font-weight: bold;
    border: solid;
    font-size: 15px;
  }
  
  #startBtn:hover, #startBtn:focus {
    Color: rgba(171, 209, 255, 1)
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: solid black 2px;
    margin: 0 auto;
  }
  .square {
    width: 20px;
    height:20px;
  }
  
  .snake {
    background-color: pink;
  }
  
  .apple {
    background-color: red;
  }